

$colors: (
    common: (
        white: #fff,
        black: #000,
    ),
    body: (
        heading: #121315,
        text: #415674,
        soft_bg: #f6f8fa,
    ),
    theme: (
        1: #ff5041,
    ),
)

