// Font Family 
$roboto: 'Roboto', sans-serif;
$spacegrotesk: 'Space Grotesk', sans-serif;

// Responsive Variables
$xxl: 'only screen and (min-width: 1401px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1400.99px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199.99px)';
$md:'only screen and (min-width: 768px) and (max-width: 991.99px)';
$xs:'(max-width: 767.99px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767.99px)';