.circle-shape-change {
    -webkit-border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
  -moz-border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
  border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
  -webkit-animation: hero-border 2s linear infinite alternate;
  -moz-animation: hero-border 2s linear infinite alternate;
  -o-animation: hero-border 2s linear infinite alternate;
  animation: hero-border 2s linear infinite alternate;
}

@keyframes hero-border {
    0% {
        -webkit-border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
        -moz-border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
        border-radius: 45% 55% 60% 40% / 59% 56% 44% 41%;
    }
    100% {
        -webkit-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        -moz-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
}




.horizontal_move50px {
  -webkit-animation: horizontal_move50 8s linear 0s infinite alternate;
  -moz-animation: horizontal_move50 8s linear 0s infinite alternate;
  -o-animation: horizontal_move50 8s linear 0s infinite alternate;
  animation: horizontal_move50 8s linear 0s infinite alternate;
}
@keyframes horizontal_move50 {
    0% {
      -webkit-transform: translateX(50px);
      -moz-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }




.horizontal_move100px {
  -webkit-animation: horizontal_move100 5s linear 0s infinite alternate;
  -moz-animation: horizontal_move100 5s linear 0s infinite alternate;
  -o-animation: horizontal_move100 5s linear 0s infinite alternate;
  animation: horizontal_move100 5s linear 0s infinite alternate;
}
@keyframes horizontal_move100 {
    0% {
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }


  .upward_movement200px {
    -webkit-animation: upward_movement200 8s linear 0s infinite alternate;
    -moz-animation: upward_movement200 8s linear 0s infinite alternate;
    -o-animation: upward_movement200 8s linear 0s infinite alternate;
    animation: upward_movement200 8s linear 0s infinite alternate;
  }


  @keyframes upward_movement200 {
    0% {
      -webkit-transform: translateY(-200px);
      -moz-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
      transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }








  
.img-animation-left, .img-animation-right {
  -webkit-animation-name: vamtam-scale-out-left;
  -webkit-animation-name: vamtam-scale-out-left;
  animation-name: vamtam-scale-out-left;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}


@keyframes vamtam-scale-out-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}





.img-animation-right {
  -webkit-animation-name: vamtam-scale-out-right;
  -webkit-animation-name: vamtam-scale-out-right;
  animation-name: vamtam-scale-out-right;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}

@keyframes vamtam-scale-out-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}



.top_right_visible_animation {
  -webkit-animation-name: top_right_visible;
  -webkit-animation-name: top_right_visible;
  animation-name: top_right_visible;
  animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}

@keyframes top_right_visible {
  from {
    transform: translate(100%, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}





.width_visible_animation {
  -webkit-animation: width_visible 3s linear 0s;
  -moz-animation: width_visible 3s linear 0s;
  -o-animation: width_visible 3s linear 0s;
  animation: width_visible 3s linear 0s;
}
@keyframes width_visible {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}