@use '../abstracts/variables' as *;

.single_blog {
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(191, 211, 255, 0.38);

    &:hover {
        & .blog_content {
            height: 268px;
            transition: 0.3s;
        }

        & .blog_btn {
            &:is(.is_hide) {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }
}

.blog_cat {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    position: absolute;
    left: 50px;
    top: -15px;
    box-shadow: 0px 10px 60px 0px rgba(191, 211, 255, 0.38);
    border-radius: 5px;
    color: #121315;
    font-weight: 500;
}

.blog_content {
    position: relative;
    padding: 50px;
    padding-bottom: 40px;
    height: 178px;
    transition: 0.3s;
}

.blog_title {
    font-size: 24px;
    & a {
        text-decoration: none;
    }
}

.blog_meta {
    & a {
        color: #415674;
        font-size: 15px;
        text-decoration: none;
        & i {
            margin-right: 10px;
        }
    }
}

.blog_btn {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background-color: #ff5041;
    display: inline-block;
    padding: 0 35px;
    color: #fff;
    font-weight: 700;
    font-family: $spacegrotesk;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: #fff3f2;
        color: #ff5041;
    }

    &:is(.is_hide) {
        opacity: 0;
        visibility: hidden;
        transform-origin: bottom left;
        transform: scaleY(0);


    }
}

.blog_border {
    border-bottom: 1px solid #eee;
}