

.brand_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_brand {
    flex: 0 0 25%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.5;
    }
}

.single_brand:nth-child(4) {
    text-align: end;
}

.single_brand:nth-child(8) {
    text-align: end;
}

.single_brand:nth-child(2) {
    text-align: center;
}

.single_brand:nth-child(3) {
    text-align: center;
}

.single_brand:nth-child(6) {
    text-align: center;
}

.single_brand:nth-child(7) {
    text-align: center;
}