@use '../abstracts/colors' as *;


.w_100 {
    width: 100%;
}
.contact_single {
    height: 60px;
    position: relative;
    line-height: 60px;
}

.contact_single input {
    border: 0;
    width: 100%;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
}

.contact_single textarea {
    border: 0;
    border-radius: 10px;
    padding: 0 25px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #121315;
}

.submit_btn {
    border: 0;
    background-color: var(--clr-theme-1);
    padding: 0 25px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
    height: 60px;
    line-height: 60px;

    & i {
        font-weight: 500;
        display: inline-block;
        transform: translateY(1px);
    }

    &:hover {
        background-color: #fff;
        color: var(--clr-theme-1);
    }
}

.contact_single i {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-theme-1);
    font-weight: 500;
}

.name_input i {
    margin-top: -2px;
}