

.counter_wrapper {
    display: flex;
    justify-content: space-between;
}

.counter_numb {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 3px;
}

.counter_text {
    font-size: 15px;
    color: #415674;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
