@use '../abstracts/colors' as *;

.theme_bg {
    background-color: var(--clr-theme-1);
}
.feature_illustration {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.feature_wrapper {
    display: flex;
    justify-content: space-between;
}
.single_feature {
    flex: 0 0 auto;
    &:hover {
        & .feature_icon {
            & i {
                color: #fff;
                background-color: #ff5041;
            }
        }
    }
}

.feature_icon {

    position: relative;
    display: block;
    &:before {
        position: absolute;
        left: -50px;
        bottom: 0;
        content: "";
        background-image: url(../../assets/img/hero/feature_line.png);
        width: 100%;
        height: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden; 
        transition: 0.8s;
    }

    &:after {
        position: absolute;
        right: 0;
        top: -50px;
        content: "";
        background-image: url(../../assets/img/hero/feature_dots.png);
        width: 100%;
        height: 100%;
        background-position: top right;  
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;  
        transition: 0.6s;
    }
    & i {
        display: flex;
        width: 160px;
        height: 160px;
        justify-content: center;
        align-items: center;
        background-color: #fff3f2;
        border-radius: 50%;
        font-size: 60px;
        color: #ff5041;
        margin: 0 auto;
        margin-bottom: 25px;
        transition: 0.5s;

    }


    &:hover {
        &:before {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
        &:after {
            opacity: 1;
            visibility: visible;
            top: 0;
        }
    }
}

.feature_title {
    font-size: 20px;
    margin-bottom: 0;
    & a {
        text-decoration: none;
    }
}


.feature_list {
    & li {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        color: #000;
        position: relative;
        padding-left: 45px;
        margin-bottom: 25px;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: "\f00c";
            font-family: "font awesome 5 pro";
            color: #fff;
            width: 30px;
            height: 30px;
            background-color: #ff5041;
            border-radius: 50%;
            text-align: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.feature_btn {
    height: 50px;
    background-color: #fff3f2;
    padding: 0 35px;
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    color: var(--clr-theme-1);
    border-radius: 5px;
    &:hover {
        background-color: var(--clr-theme-1);
        color: #fff;
    }

}
