@use '../abstracts/colors' as *;

.footer_info_line {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    & i {
        font-size: 24px;
        color: var(--clr-theme-1);
        margin-right: 10px;
        margin-top: 3px;
    }
}

.footer_info_text {
    color: #415674;
    line-height: 2;
    text-decoration: none;
}

.footer_links li {
    position: relative;
    padding-left: 20px;

    & a {
        text-decoration: none;
        color: #415674;
        line-height: 2.66;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: "\f00c";
        font-family: "font awesome 5 pro";
        transform: translateY(-50%);
        color: #415674;
    }

    &:hover {
        &:before {
            color: var(--clr-theme-1);
        }
        & a {
            color: var(--clr-theme-1);
        }
    }
}


.footer_widget_content {
    & p {
        color: #415674;
        line-height: 2.13;
    }
}

.footer_subscription {
    & input {
        height: 50px;
        border: 2px solid #e7e7e7;
        padding: 0 30px;
        width: 100%;
        border-radius: 10px;
        font-weight: 500;
        color: #415674;
    }

    & .submit_btn {
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
        padding: 0 40px;
        transition: 0.3s;

        &:hover {
            color: var(--clr-theme-1);
            background-color: #fff3f2;
        }
    }
}


.single_photo {
    width: 100px;
    display: inline-block;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 5px;
    position: relative;
    border-radius: 10px;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #000;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    & img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    & i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 30px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    &:hover {
        &:before {
            opacity: 0.5;
            visibility: visible;
        }

        & i {
            opacity: 1;
            visibility: visible;
        }
    }
}

.copyright_border {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.footer_copyright_area p a {
    text-decoration: none;
    color: var(--clr-theme-1);
}

.footer_menu li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.footer_menu li a {
    text-decoration: none;
    color: #415674;
    font-weight: 500;
    padding: 40px 0;
    display: inline-block;
}

.footer_menu li:first-child {
    margin-left: 0;
}

.footer_menu li a:hover {
    color: var(--clr-theme-1);
}

.footer_copyright_area p {
    margin-bottom: 0;
    line-height: 1;
}

.footer_menu li.active:before, .footer_menu li:hover:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: var(--clr-theme-1);
    transition: 0.3s;
}

.footer_social {
    & a {
        display: inline-block;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background-color: #e7e7e7;
        text-align: center;
        border-radius: 7px;
        color: #415674;

        & i {
            transition: 0.3s;
        }

        &:hover {
            color: #fff;
            background-color: #ff5041;

            & i {
                transform: rotate(360deg);
            }
        }
    }
}


