.transparent_header {
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

.slider_height {
    height: 950px;
}
.slider_single {
    position: relative;
    background-color: #f6f8fa;
}
.main_menu {
    & ul {
        margin: 0;
        padding: 0;
        & li {
            list-style: none;
            display: inline-block;

            & a {
                display: block;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                padding: 20px 15px;
                transition: 0.3s;

                &:hover {
                    color: #ff5041;
                }
            }
        }
    }
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_button {
    height: 50px;
    display: inline-block;
}

.header_btn {
    height: 50px;
    background-color: #ff5041;
    display: inline-block;
    line-height: 50px;
    padding: 0 35px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;

    &:hover {
        color: #121315;
        border-color: #121315;
        background-color: transparent;
        font-weight: 500;

    }

}
.i_right {
    & i {
        margin-left: 10px;
    }
}
.humberger_sign {
    width: 35px;
    display: inline-block;
    height: 26px;
    overflow: hidden;
    margin-left: 35px;
    cursor: pointer;
    & span {
        height: 4px;
        background-color: #121315;
        display: block;
        margin-bottom: 7px;
        &.bar1 {
            margin-left: auto;
            width: 30px;
        }
        &.bar3 {
            width: 25px;
            margin-bottom: 0;
        }
    }

}

.slider_content {
    z-index: 1;
}

.shape_circle {
    position: absolute;
    left: 150px;
    top: 210px;
}

.shape_dots {
    position: absolute;
    left: 105px;
    bottom: 100px;
}

.shape_leftmiddle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.width_visible {
    border-radius: 50%;
    & img {
        border-radius: 50%;
    }
}

.shape_topright {
    position: absolute;
    right: 0;
    top: 0;
}

.slider_single_relative {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.hero_woman {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.woman_illustration {
    position: absolute;
    right: 0;
    bottom: 0;
}

.slider_title {
    font-size: 95px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 35px;
}

.has_border_left {
    padding-left: 23px;
    position: relative;
    margin-bottom: 30px;
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 3px;
        background-color: red;
        content: "";
        height: calc(100% - 16px);
        transform: translateY(-50%);
    }
}


.slider_btn {
    height: 50px;
    background-color: #fff;
    color: #121315;
    line-height: 50px;
    display: inline-block;
    padding: 0 35px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: #ff5041;
        color: #fff;
    }
}