
.portfolio_area {
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 70%;
        content: "";
        background-color: #f6f8fa;
        z-index: -1;
    }
}

.portfolio_nav button {
    border: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 12px 20px;
    background-color: transparent;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.portfolio_nav button.active {
    background-color: #fff;
}

.portfolio_nav button:hover {
    background-color: #fff;
}



.item_text {
    display: inline-block;
    font-size: 30px;
    color: #121315;
    font-weight: 700;
    line-height: 1.16;
    position: absolute;
    left: -65px;
    bottom: 120px;
}

.portfolio_item_inner {
    position: relative;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 65px;
}

.portfolio_items {
    flex-wrap: wrap;
    display: flex;
}

.portfolio_item:nth-child(3) .portfolio_item_inner {
    margin-left: 110px;
}


.item_img {
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #444;
        content: "";
        opacity: 0;
        visibility: hidden;
        transform-origin: top left;
        transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
        transform: scaleY(0);
        z-index: 1;
    }
    & i {
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: 40px;
        color: #fff;
        background-color: rgba(4, 4, 4, 0.5);
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
        transform: translate(-50%, -50%) scaleY(0);
        visibility: hidden;
        opacity: 0;
        transform-origin: top;
    }

    &:hover {
        &:before {
            opacity: 0.3;
            visibility: visible;
            transform: scaleY(1);
        }

        & i {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scaleY(1);
            top: 50%;
        }
    }
}

.p_shape_dots {
    position: absolute;
    right: 0;
    top: 200px;
}

.item_img {
    overflow: hidden;
    & img {
        transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
        & img {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}
