@use '../abstracts/colors' as *;

.skill_progress_single {
    & span {
        font-size: 20px;
        color: var(--clr-body-heading);
        font-weight: 700;
        line-height: 1;
    }
}
.progress_value {
    float: right;
}
.progress:is(.skill_progress) {
    margin-top: 10px;
    height: 4px;
    background-color: #f1f1f1;
}
.progress:is(.skill_progress) .progress-bar:is(.theme-1) {
    background-color: var(--clr-theme-1);
}

.skill_info {
    margin-top: -10px;
}

.border_bottom {
    border-bottom: 1px solid #eee;
}