@use '../abstracts/mixins' as *;
.tstimonial_wrapper_width {
    width: calc(((100% - 1326px) / 2) + 1326px);
    margin-left: auto;
    overflow-x: hidden;
}
.testimonial {
    &_thumb {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        left: -14px;
        top: -18px;
    }
}
.single_testimonial {
    overflow: hidden;
    padding: 60px 50px;
    padding-top: 145px;
    background-color: var(--clr-common-white);
    position: relative;
}
.t_title {
    font-size: 24px;
    margin-bottom: 5px;
}
.t_subtitle {
    font-size: 15px;
    color: var(--clr-theme-1);
    text-transform: uppercase;
    font-weight: 500;
}
.testimonial_content {
    & p {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 21px;
    }
}
.rating {
    & i {
        color: #ffba00;
        font-weight: 600;
        &:not(:last-child) {
            margin-right: 2px;
        }
    }
}
// .testimonial_active {
//     & .slick-track {
//         display: flex;
//         grid-gap: 30px;
//         & > * {
//             flex: 0 0 auto;
//         }
//     }
//     // margin-left: -489px;
// }
.testimonial_active {
    margin-left: calc(-206px - 30px);
    & .t_pagination {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        & > * {
            position: static;
            border-radius: 5px;
            background-color: var(--clr-common-white);
            padding: 0;
            color: var(--clr-body-text);
            width: 55px;
            height: 55px;
            display: inline-block;
            line-height: 55px;
            text-align: center;
            &:first-child {
                margin-right: 10px;
            }
            &:focus,&:active {
                background-color: var(--clr-theme-1);
                color: var(--clr-common-white);
            }
        }
        & > *::after {
            display: none;
        }
    }
}
.swiper-container {
    overflow: visible !important;
}