@charset "UTF-8";
/*
************
*************************

   Template Name: Sample - Name of HTML Template
   Description: Sample - Name of HTML Template
   Author: Masum
   Version: 1.0

-----------------------------------------------------------------------------------

CSS INDEX
===================

01. common
02. Header
03. Navigation
04. Slider
05. Accordion
06. Breadcrumb
07. Contact
08. Mission
09. Cta
10. About
11. Section Title
12. Cause
13. Support
14. Choose Single Card
15. Feature Event
16. Newsfeed
17. Iconbox
18. Eventcount
19. Donation
20. Team
21. Choose
22. Circular Progress
23. Funfact
24. Services
25. Events
26. Testimonial
27. Back-to-top
28. Sidebar
29. Footer

******************************************************* 
*************************************************************** */
/*
************
*************************
01. common
******************************************************* 
*************************************************************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(-clr-body-text);
  font-size: 15px;
}

.img, img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  color: var(--clr-body-heading);
  margin-top: 0px;
  font-weight: 700;
  text-transform: normal;
  margin-bottom: 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.86;
  color: var(--clr-body-text);
  margin-bottom: 15px;
}

hr {
  border-bottom: 1px solid var(--clr-common-black);
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
  opacity: 1;
}

label {
  color: var(--clr-body-heading);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background-color: var(--clr-body-heading);
  color: var(--clr-common-white);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--clr-body-heading);
  color: var(--clr-common-white);
  text-shadow: none;
}

::selection {
  background-color: var(--clr-common-black);
  color: var(--clr-common-white);
  text-shadow: none;
}

/* <<<<<<<    Input Placeholder   >>>>>>>>> */
input::-webkit-input-placeholder {
  color: var(--clr-common-black);
  font-size: 14px;
  opacity: 1;
}
input:-moz-placeholder {
  color: var(--clr-common-black);
  font-size: 14px;
  opacity: 1;
}
input::-moz-placeholder {
  color: var(--clr-common-black);
  font-size: 14px;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: var(--clr-common-black);
  font-size: 14px;
  opacity: 1;
}

/* <<<<<<<    Common Classes   >>>>>>>>> */
.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-static {
  position: static !important;
}

.w_img img {
  width: 100%;
}

.soft_bg {
  background-color: var(--clr-body-soft_bg);
}

.text_center {
  text-align: center;
}

@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  .text_sm_center {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .text_md_center {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .text_lg_center {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400.99px) {
  .text_xl_center {
    text-align: center;
  }
}

@media only screen and (min-width: 1401px) {
  .text_xxl_center {
    text-align: center;
  }
}

.text_start {
  text-align: left;
}

@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  .text_sm_start {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .text_md_start {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .text_lg_start {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400.99px) {
  .text_xl_start {
    text-align: left;
  }
}

@media only screen and (min-width: 1401px) {
  .text_xxl_start {
    text-align: left;
  }
}

.text_end {
  text-align: right;
}

@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  .text_sm_end {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .text_md_end {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .text_lg_end {
    text-align: right;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400.99px) {
  .text_xl_end {
    text-align: right;
  }
}

@media only screen and (min-width: 1401px) {
  .text_xxl_end {
    text-align: right;
  }
}

/* <<<<<<<    Overlay   >>>>>>>>> */
[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

[data-overlay=light]::before {
  background-color: var(--clr-common-white);
}

[data-overlay=dark]::before {
  background-color: var(--clr-common-black);
}

[data-overlay=soft]::before {
  background-color: var(--clr-body-soft_bg);
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

/* <<<<<<<    Declaration   >>>>>>>>> */
:root {
  /**
  @color declaration
  */
  --clr-common-white: #fff;
  --clr-common-black: #000;
  --clr-body-heading: #121315;
  --clr-body-text: #415674;
  --clr-body-soft_bg: #f6f8fa;
  --clr-theme-1: #ff5041;
}

.text-common-white {
  color: #fff;
}

.bg-common-white {
  color: #fff;
}

.text-common-black {
  color: #000;
}

.bg-common-black {
  color: #000;
}

.text-body-heading {
  color: #121315;
}

.bg-body-heading {
  color: #121315;
}

.text-body-text {
  color: #415674;
}

.bg-body-text {
  color: #415674;
}

.text-body-soft_bg {
  color: #f6f8fa;
}

.bg-body-soft_bg {
  color: #f6f8fa;
}

.text-theme-1 {
  color: #ff5041;
}

.bg-theme-1 {
  color: #ff5041;
}

/* <<<<<<<    Margin & Padding>>>>>>>>> */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-105 {
  margin-left: 105px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-135 {
  margin-left: 135px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-155 {
  margin-left: 155px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-165 {
  margin-left: 165px;
}

.ml-170 {
  margin-left: 170px;
}

.ml-175 {
  margin-left: 175px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-185 {
  margin-left: 185px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-195 {
  margin-left: 195px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-105 {
  margin-right: 105px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-115 {
  margin-right: 115px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-125 {
  margin-right: 125px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-135 {
  margin-right: 135px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-145 {
  margin-right: 145px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-155 {
  margin-right: 155px;
}

.mr-160 {
  margin-right: 160px;
}

.mr-165 {
  margin-right: 165px;
}

.mr-170 {
  margin-right: 170px;
}

.mr-175 {
  margin-right: 175px;
}

.mr-180 {
  margin-right: 180px;
}

.mr-185 {
  margin-right: 185px;
}

.mr-190 {
  margin-right: 190px;
}

.mr-195 {
  margin-right: 195px;
}

.mr-200 {
  margin-right: 200px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-105 {
  padding-left: 105px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-115 {
  padding-left: 115px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-135 {
  padding-left: 135px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-145 {
  padding-left: 145px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-165 {
  padding-left: 165px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-185 {
  padding-left: 185px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-195 {
  padding-left: 195px;
}

.pl-200 {
  padding-left: 200px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-105 {
  padding-right: 105px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-115 {
  padding-right: 115px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-125 {
  padding-right: 125px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-135 {
  padding-right: 135px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-145 {
  padding-right: 145px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-165 {
  padding-right: 165px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-175 {
  padding-right: 175px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-185 {
  padding-right: 185px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-195 {
  padding-right: 195px;
}

.pr-200 {
  padding-right: 200px;
}

.transparent_header {
  padding: 30px 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

.slider_height {
  height: 950px;
}

.slider_single {
  position: relative;
  background-color: #f6f8fa;
}

.main_menu ul {
  margin: 0;
  padding: 0;
}
.main_menu ul li {
  list-style: none;
  display: inline-block;
}
.main_menu ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 15px;
  transition: 0.3s;
}
.main_menu ul li a:hover {
  color: #ff5041;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_button {
  height: 50px;
  display: inline-block;
}

.header_btn {
  height: 50px;
  background-color: #ff5041;
  display: inline-block;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  transition: 0.3s;
}
.header_btn:hover {
  color: #121315;
  border-color: #121315;
  background-color: transparent;
  font-weight: 500;
}

.i_right i {
  margin-left: 10px;
}

.humberger_sign {
  width: 35px;
  display: inline-block;
  height: 26px;
  overflow: hidden;
  margin-left: 35px;
  cursor: pointer;
}
.humberger_sign span {
  height: 4px;
  background-color: #121315;
  display: block;
  margin-bottom: 7px;
}
.humberger_sign span.bar1 {
  margin-left: auto;
  width: 30px;
}
.humberger_sign span.bar3 {
  width: 25px;
  margin-bottom: 0;
}

.slider_content {
  z-index: 1;
}

.shape_circle {
  position: absolute;
  left: 150px;
  top: 210px;
}

.shape_dots {
  position: absolute;
  left: 105px;
  bottom: 100px;
}

.shape_leftmiddle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.width_visible {
  border-radius: 50%;
}
.width_visible img {
  border-radius: 50%;
}

.shape_topright {
  position: absolute;
  right: 0;
  top: 0;
}

.slider_single_relative {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero_woman {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.woman_illustration {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slider_title {
  font-size: 95px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
}

.has_border_left {
  padding-left: 23px;
  position: relative;
  margin-bottom: 30px;
}
.has_border_left:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 3px;
  background-color: red;
  content: "";
  height: calc(100% - 16px);
  transform: translateY(-50%);
}

.slider_btn {
  height: 50px;
  background-color: #fff;
  color: #121315;
  line-height: 50px;
  display: inline-block;
  padding: 0 35px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}
.slider_btn:hover {
  background-color: #ff5041;
  color: #fff;
}

.circle-shape-change {
  -webkit-border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
  -moz-border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
  border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
  -webkit-animation: hero-border 2s linear infinite alternate;
  -moz-animation: hero-border 2s linear infinite alternate;
  -o-animation: hero-border 2s linear infinite alternate;
  animation: hero-border 2s linear infinite alternate;
}

@keyframes hero-border {
  0% {
    -webkit-border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
    -moz-border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
    border-radius: 45% 55% 60% 40%/59% 56% 44% 41%;
  }
  100% {
    -webkit-border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  }
}
.horizontal_move50px {
  -webkit-animation: horizontal_move50 8s linear 0s infinite alternate;
  -moz-animation: horizontal_move50 8s linear 0s infinite alternate;
  -o-animation: horizontal_move50 8s linear 0s infinite alternate;
  animation: horizontal_move50 8s linear 0s infinite alternate;
}

@keyframes horizontal_move50 {
  0% {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.horizontal_move100px {
  -webkit-animation: horizontal_move100 5s linear 0s infinite alternate;
  -moz-animation: horizontal_move100 5s linear 0s infinite alternate;
  -o-animation: horizontal_move100 5s linear 0s infinite alternate;
  animation: horizontal_move100 5s linear 0s infinite alternate;
}

@keyframes horizontal_move100 {
  0% {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.upward_movement200px {
  -webkit-animation: upward_movement200 8s linear 0s infinite alternate;
  -moz-animation: upward_movement200 8s linear 0s infinite alternate;
  -o-animation: upward_movement200 8s linear 0s infinite alternate;
  animation: upward_movement200 8s linear 0s infinite alternate;
}

@keyframes upward_movement200 {
  0% {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.img-animation-left, .img-animation-right {
  -webkit-animation-name: vamtam-scale-out-left;
  -webkit-animation-name: vamtam-scale-out-left;
  animation-name: vamtam-scale-out-left;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}

@keyframes vamtam-scale-out-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.img-animation-right {
  -webkit-animation-name: vamtam-scale-out-right;
  -webkit-animation-name: vamtam-scale-out-right;
  animation-name: vamtam-scale-out-right;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}

@keyframes vamtam-scale-out-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.top_right_visible_animation {
  -webkit-animation-name: top_right_visible;
  -webkit-animation-name: top_right_visible;
  animation-name: top_right_visible;
  animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-timing-function: cubic-bezier(0.4, 0, 0, 0.9);
  animation-fill-mode: backwards;
}

@keyframes top_right_visible {
  from {
    transform: translate(100%, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
.width_visible_animation {
  -webkit-animation: width_visible 3s linear 0s;
  -moz-animation: width_visible 3s linear 0s;
  -o-animation: width_visible 3s linear 0s;
  animation: width_visible 3s linear 0s;
}

@keyframes width_visible {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.theme_bg {
  background-color: var(--clr-theme-1);
}

.feature_illustration {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.feature_wrapper {
  display: flex;
  justify-content: space-between;
}

.single_feature {
  flex: 0 0 auto;
}
.single_feature:hover .feature_icon i {
  color: #fff;
  background-color: #ff5041;
}

.feature_icon {
  position: relative;
  display: block;
}
.feature_icon:before {
  position: absolute;
  left: -50px;
  bottom: 0;
  content: "";
  background-image: url(../../assets/img/hero/feature_line.png);
  width: 100%;
  height: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.feature_icon:after {
  position: absolute;
  right: 0;
  top: -50px;
  content: "";
  background-image: url(../../assets/img/hero/feature_dots.png);
  width: 100%;
  height: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.feature_icon i {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  background-color: #fff3f2;
  border-radius: 50%;
  font-size: 60px;
  color: #ff5041;
  margin: 0 auto;
  margin-bottom: 25px;
  transition: 0.5s;
}
.feature_icon:hover:before {
  opacity: 1;
  visibility: visible;
  left: 0;
}
.feature_icon:hover:after {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.feature_title {
  font-size: 20px;
  margin-bottom: 0;
}
.feature_title a {
  text-decoration: none;
}

.feature_list li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: #000;
  position: relative;
  padding-left: 45px;
  margin-bottom: 25px;
}
.feature_list li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  font-family: "font awesome 5 pro";
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #ff5041;
  border-radius: 50%;
  text-align: center;
}
.feature_list li:last-child {
  margin-bottom: 0;
}

.feature_btn {
  height: 50px;
  background-color: #fff3f2;
  padding: 0 35px;
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
  color: var(--clr-theme-1);
  border-radius: 5px;
}
.feature_btn:hover {
  background-color: var(--clr-theme-1);
  color: #fff;
}

.brand_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single_brand {
  flex: 0 0 25%;
  cursor: pointer;
  transition: 0.3s;
}
.single_brand:hover {
  opacity: 0.5;
}

.single_brand:nth-child(4) {
  text-align: end;
}

.single_brand:nth-child(8) {
  text-align: end;
}

.single_brand:nth-child(2) {
  text-align: center;
}

.single_brand:nth-child(3) {
  text-align: center;
}

.single_brand:nth-child(6) {
  text-align: center;
}

.single_brand:nth-child(7) {
  text-align: center;
}

.w_100 {
  width: 100%;
}

.contact_single {
  height: 60px;
  position: relative;
  line-height: 60px;
}

.contact_single input {
  border: 0;
  width: 100%;
  padding: 0 25px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

.contact_single textarea {
  border: 0;
  border-radius: 10px;
  padding: 0 25px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #121315;
}

.submit_btn {
  border: 0;
  background-color: var(--clr-theme-1);
  padding: 0 25px;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s;
  height: 60px;
  line-height: 60px;
}
.submit_btn i {
  font-weight: 500;
  display: inline-block;
  transform: translateY(1px);
}
.submit_btn:hover {
  background-color: #fff;
  color: var(--clr-theme-1);
}

.contact_single i {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-theme-1);
  font-weight: 500;
}

.name_input i {
  margin-top: -2px;
}

.portfolio_area {
  position: relative;
}
.portfolio_area:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70%;
  content: "";
  background-color: #f6f8fa;
  z-index: -1;
}

.portfolio_nav button {
  border: 0;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 12px 20px;
  background-color: transparent;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.portfolio_nav button.active {
  background-color: #fff;
}

.portfolio_nav button:hover {
  background-color: #fff;
}

.item_text {
  display: inline-block;
  font-size: 30px;
  color: #121315;
  font-weight: 700;
  line-height: 1.16;
  position: absolute;
  left: -65px;
  bottom: 120px;
}

.portfolio_item_inner {
  position: relative;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 65px;
}

.portfolio_items {
  flex-wrap: wrap;
  display: flex;
}

.portfolio_item:nth-child(3) .portfolio_item_inner {
  margin-left: 110px;
}

.item_img {
  position: relative;
}
.item_img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  content: "";
  opacity: 0;
  visibility: hidden;
  transform-origin: top left;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transform: scaleY(0);
  z-index: 1;
}
.item_img i {
  position: absolute;
  left: 50%;
  top: 25%;
  font-size: 40px;
  color: #fff;
  background-color: rgba(4, 4, 4, 0.5);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transform: translate(-50%, -50%) scaleY(0);
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
}
.item_img:hover:before {
  opacity: 0.3;
  visibility: visible;
  transform: scaleY(1);
}
.item_img:hover i {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scaleY(1);
  top: 50%;
}

.p_shape_dots {
  position: absolute;
  right: 0;
  top: 200px;
}

.item_img {
  overflow: hidden;
}
.item_img img {
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.item_img:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}

.skill_progress_single span {
  font-size: 20px;
  color: var(--clr-body-heading);
  font-weight: 700;
  line-height: 1;
}

.progress_value {
  float: right;
}

.progress:is(.skill_progress) {
  margin-top: 10px;
  height: 4px;
  background-color: #f1f1f1;
}

.progress:is(.skill_progress) .progress-bar:is(.theme-1) {
  background-color: var(--clr-theme-1);
}

.skill_info {
  margin-top: -10px;
}

.border_bottom {
  border-bottom: 1px solid #eee;
}

.counter_wrapper {
  display: flex;
  justify-content: space-between;
}

.counter_numb {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 3px;
}

.counter_text {
  font-size: 15px;
  color: #415674;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.single_blog {
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(191, 211, 255, 0.38);
}
.single_blog:hover .blog_content {
  height: 268px;
  transition: 0.3s;
}
.single_blog:hover .blog_btn:is(.is_hide) {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.blog_cat {
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  position: absolute;
  left: 50px;
  top: -15px;
  box-shadow: 0px 10px 60px 0px rgba(191, 211, 255, 0.38);
  border-radius: 5px;
  color: #121315;
  font-weight: 500;
}

.blog_content {
  position: relative;
  padding: 50px;
  padding-bottom: 40px;
  height: 178px;
  transition: 0.3s;
}

.blog_title {
  font-size: 24px;
}
.blog_title a {
  text-decoration: none;
}

.blog_meta a {
  color: #415674;
  font-size: 15px;
  text-decoration: none;
}
.blog_meta a i {
  margin-right: 10px;
}

.blog_btn {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background-color: #ff5041;
  display: inline-block;
  padding: 0 35px;
  color: #fff;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 5px;
  transition: 0.3s;
}
.blog_btn:hover {
  background-color: #fff3f2;
  color: #ff5041;
}
.blog_btn:is(.is_hide) {
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom left;
  transform: scaleY(0);
}

.blog_border {
  border-bottom: 1px solid #eee;
}

.tstimonial_wrapper_width {
  width: calc(((100% - 1326px) / 2) + 1326px);
  margin-left: auto;
  overflow-x: hidden;
}

.testimonial_thumb {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  left: -14px;
  top: -18px;
}

.single_testimonial {
  overflow: hidden;
  padding: 60px 50px;
  padding-top: 145px;
  background-color: var(--clr-common-white);
  position: relative;
}

.t_title {
  font-size: 24px;
  margin-bottom: 5px;
}

.t_subtitle {
  font-size: 15px;
  color: var(--clr-theme-1);
  text-transform: uppercase;
  font-weight: 500;
}

.testimonial_content p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 21px;
}

.rating i {
  color: #ffba00;
  font-weight: 600;
}
.rating i:not(:last-child) {
  margin-right: 2px;
}

.testimonial_active {
  margin-left: calc(-206px - 30px);
}
.testimonial_active .t_pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}
.testimonial_active .t_pagination > * {
  position: static;
  border-radius: 5px;
  background-color: var(--clr-common-white);
  padding: 0;
  color: var(--clr-body-text);
  width: 55px;
  height: 55px;
  display: inline-block;
  line-height: 55px;
  text-align: center;
}
.testimonial_active .t_pagination > *:first-child {
  margin-right: 10px;
}
.testimonial_active .t_pagination > *:focus, .testimonial_active .t_pagination > *:active {
  background-color: var(--clr-theme-1);
  color: var(--clr-common-white);
}
.testimonial_active .t_pagination > *::after {
  display: none;
}

.swiper-container {
  overflow: visible !important;
}

.footer_info_line {
  display: flex;
  margin-bottom: 20px;
}
.footer_info_line:last-child {
  margin-bottom: 0;
}
.footer_info_line i {
  font-size: 24px;
  color: var(--clr-theme-1);
  margin-right: 10px;
  margin-top: 3px;
}

.footer_info_text {
  color: #415674;
  line-height: 2;
  text-decoration: none;
}

.footer_links li {
  position: relative;
  padding-left: 20px;
}
.footer_links li a {
  text-decoration: none;
  color: #415674;
  line-height: 2.66;
}
.footer_links li:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  font-family: "font awesome 5 pro";
  transform: translateY(-50%);
  color: #415674;
}
.footer_links li:hover:before {
  color: var(--clr-theme-1);
}
.footer_links li:hover a {
  color: var(--clr-theme-1);
}

.footer_widget_content p {
  color: #415674;
  line-height: 2.13;
}

.footer_subscription input {
  height: 50px;
  border: 2px solid #e7e7e7;
  padding: 0 30px;
  width: 100%;
  border-radius: 10px;
  font-weight: 500;
  color: #415674;
}
.footer_subscription .submit_btn {
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 40px;
  transition: 0.3s;
}
.footer_subscription .submit_btn:hover {
  color: var(--clr-theme-1);
  background-color: #fff3f2;
}

.single_photo {
  width: 100px;
  display: inline-block;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
  position: relative;
  border-radius: 10px;
}
.single_photo:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.single_photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.single_photo i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.single_photo:hover:before {
  opacity: 0.5;
  visibility: visible;
}
.single_photo:hover i {
  opacity: 1;
  visibility: visible;
}

.copyright_border {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.footer_copyright_area p a {
  text-decoration: none;
  color: var(--clr-theme-1);
}

.footer_menu li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

.footer_menu li a {
  text-decoration: none;
  color: #415674;
  font-weight: 500;
  padding: 40px 0;
  display: inline-block;
}

.footer_menu li:first-child {
  margin-left: 0;
}

.footer_menu li a:hover {
  color: var(--clr-theme-1);
}

.footer_copyright_area p {
  margin-bottom: 0;
  line-height: 1;
}

.footer_menu li.active:before, .footer_menu li:hover:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--clr-theme-1);
  transition: 0.3s;
}

.footer_social a {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #e7e7e7;
  text-align: center;
  border-radius: 7px;
  color: #415674;
}
.footer_social a i {
  transition: 0.3s;
}
.footer_social a:hover {
  color: #fff;
  background-color: #ff5041;
}
.footer_social a:hover i {
  transform: rotate(360deg);
}

/*-----------------------------------------------------------------------------------

    Template Name: Sample - Corporate Business Bootstrap4 HTML5 Template
    Template URI: site.com
    Description: Sample - Corporate Business Bootstrap4 HTML5 Template
    Author: BasicTheme
    Author URI: site.com
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS
	02. Header
    03. Hero
    04. Footer

-----------------------------------------------------------------------------------*/

/*# sourceMappingURL=main.css.map */
